[submodule "WiFiManager"]
	path = WiFiManager
	url = https://github.com/tzapu/WiFiManager
	branch = development
[submodule "ESPAsyncWebServer"]
	path = ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "AsyncTCP"]
	path = AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
[submodule "yxml"]
	path = yxml
	url = https://g.blicky.net/yxml.git/
